
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>非常上档次的HTML5/CSS3登录表单DEMO演示</title>
	<script type="text/javascript" charset="UTF-8" src="prefixfree.min.js"></script>

</head>
<style type="text/css">
body {
   background: url(bg.png);
   background-size: 100% 100%;
   margin:0;
   padding:0;}

</style>
<body>

	   <div class="content">
           <form action="" method="post" class="login-form">
               <div class="username">
                   <input type="text" name="username" placeholder="username" autocomplete="on" />
                   <span class="user-icon icon"></span>
               </div>
               <div class="password">
                   <input type="password" name="password" placeholder="*******" />
                   <span class="password-icon icon"></span>
               </div>
               <div class="account-control">

                   <button type="submit">Login</button>
               </div>
           </form>
	   </div>
<div style="text-align:center;clear:both">

</div>
</body>
</html>